<div style="border: 2px solid black;">
  <img class="AA"
    src="https://th.bing.com/th?id=OIP.93ZESb7clT2EHTDiMAubXAHaE8&w=306&h=204&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2"
    alt="">

  <div>
    <img src="https://wallpaperaccess.com/full/1900857.jpg" alt="">
    <div class="password-container ">

      <mat-card>
        <h4>Password page</h4><br>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required maxlength="6" />
            <!-- <label for="password">Password</label> -->
          </div>
          <div *ngIf="error" class="error-message">
            Incorrect password! Please try again.
          </div>
          <button type="submit">Submit</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>